<div class="jumbotron">
    <div class="container">
        <h3><i routerLink='' class="fas fa-arrow-circle-left"></i> Discover restaurants</h3>
        <hr>
        <div class="row">
            <div class="col-sm-4">
                <h6>Location</h6>
                <input type="text" class="form-control" (input)="searchCity()" [(ngModel)]="searchLocation">
            </div>
            <div class="col-sm-8">
                <h6>Search for restaurant</h6>
                <input type="text" class="form-control" (input)="searchRestaurants()" [(ngModel)]="search">
            </div>
        </div>
        <br>
        <div *ngIf="locationList.length > 0">
                <div *ngFor="let location of locationList">
                    <div class="list-group">
                        <app-location [location]='location' (click)="setLocation(location)"></app-location>
                    </div>
                </div>
            </div>
        <div *ngIf="restaurantList.length > 0">
            <div *ngFor="let restaurant of restaurantList">
                <div class="list-group">
                    <app-restaurant [restaurant]="restaurant"></app-restaurant>
                </div>
            </div>
        </div>
        <div *ngIf="!settingLocation && restaurantList.length == 0">
            <h5>Start typing to discover...</h5>
        </div>
    </div>
</div>